.custom-card {
  width: 18rem;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card img {
  border-radius: 50%;
  margin-top: 15px;
}

.custom-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.custom-card .card-text {
  text-align: center;
  color: #555;
}

.back-button {
  background-color: mediumturquoise;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}